@use 'variables' as *;
@use 'bootstrap';
@use 'font-awesome';
@use 'typography';

@mixin icon {
    .icon::before {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
}

// Global page styling

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
}

body {
    font-family: $font-family-primary;
}

.no-fx {
    border-bottom: none;
    &:after {
        display: none;
    }
    &:hover {
        border-bottom: none;
        &:after {
            display: none;
        }
    }
}

img {
    border-radius: $border-radius-md;
}

ul, li {
    list-style: none;
    padding: $spacing-none;
}

footer {
    
}

.site-logo {
    path {
        fill: $color-mint-400;
        transition: 0.5s;
    }
    &:hover {
        path {
            fill: $fill-on-dark-interactive-hover;
        }
    }
}

.row {
    padding: $spacing-xl 0;
    @media (max-width: 575.98px) {
        padding: $spacing-lg 0;
    }
}


// Typography

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: $spacing-sm 0;
}

p {
    @extend .body-two;
    color: $text-on-light-default;
}

.page-header {
    @extend .display-two;
    color: $text-on-light-default;
}

.intro {
    @extend .headline-two;
    color: $text-on-light-emphasis-soft;
}

.caption {
    @extend .caption;
    color: $text-on-light-subtle;
    line-height: 165%;
    @media (max-width: 767.98px) {
        padding: $spacing-xxs 0;
    }
}


// Utility Classes

.uppercase {
    text-transform: uppercase;
}

.strong {
    font-weight: 700;
}

a {
    display: inline-block;
    position: relative;
    color: $text-on-light-interactive;
    text-decoration: none;
    border-bottom: 1px solid  $text-on-light-interactive;
    transition: 0.1s;
    &:after
    {
        content: ' ';
        background-color: $color-mist-200;
        display: block;
        width: 100%;
        height: 0px;
        bottom: 0px;
        position: absolute;
        z-index: -2;
        transition: 0.35s;
    }
    &:hover {
        text-decoration: none;
        color: $text-on-light-interactive-hover;
        border-bottom: 1px solid $color-mist-200;
        &:after {
            height: 34px;
            width: 100%;
        }
    }
}


// Sitewide Molecules

.btn {
    font-size: $font-size-body-two-large;
    background-color: $text-on-light-interactive;
    color: $text-on-dark-strong;
    border-radius: $border-radius-md;
    padding: $spacing-sm $spacing-xl;
    margin: $spacing-lg $spacing-none;
    border: none;
    transition: 0.3s;
    .right-arrow {
        display: inline-block;
    }
    &:hover {
        background-color: $text-on-light-interactive-hover;
        .right-arrow {
            display: inline-block;
        }
        .right-arrow::before {
            margin-left: $spacing-sm;
            opacity: 1;
        }
    }
}

// Sitewide Organisms

nav {
    font-family: $font-family-primary;
    font-size: $font-size-body-caption-large;
    font-weight: 700;
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            color: $text-on-light-interactive;
            border-bottom: none;
            &:after
            {
                display:none;
            }
            &:hover {
                text-decoration: none;
                color: $text-on-light-interactive-hover;
                border-bottom: none;
                &:after {
                    display:none;
                }
            }
        }
        .site-logo-link {
            text-decoration: none;
            border: none;
            height: 60px;
        }
        ul {
            display: inline;
            padding: 0;
            margin: 0;
        }
        li {
            display: inline-block;
            list-style-type: none;
            margin-left: $spacing-lg;
        }
    }
    @media (max-width: 575.98px) {
        nav {
            li {
                display: block;
                margin-left: $spacing-none;
            }
        }
    }
}

// Accordion

.accordion {
    border-top: 1px solid $text-on-dark-default;
    overflow: hidden;
    margin: $spacing-sm 0;
}

.accordion-item {
    border-bottom: 1px solid $text-on-dark-default;
    padding: $spacing-lg 0;
    transition: .2s ease-in-out;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.accordion-left {
    display: flex;
    align-items: center;
    img {
        margin-right: 10px;
        border-radius: 0;
    }
}

.accordion-right {
    display: flex;
    align-items: center;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    p {
        padding-bottom: 0;
    }
    .job-title {
        color: $text-on-light-default;
    }
}

.open {
    .accordion-content {
        @media (max-width: 575.98px) {
            padding-top: $spacing-md;
        }
    }
}

.indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding-left: $spacing-xs;
}

.plus-icon, .minus-icon {
    transition: transform 0.3s ease-in-out;
}

.open .accordion-content {
    max-height: 100px; /* Adjust as needed */
}

.open .plus-icon {
    display: none;
}

.open .minus-icon {
    display: block;
}

.company-logo {
    margin: $spacing-sm 0;
    width: auto;
    height: 36px;
}


.accolade-container {
    border-top: 1px solid $text-on-dark-default;
    @media (max-width: 575.98px) {
        margin-top: $spacing-md;
    }
}

.accolade-row {
    border-bottom: 1px solid $text-on-dark-default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-lg 0;
}

.accolade-left {
    display: flex;
    align-items: center;
    img {
        margin-right: 10px;
        border-radius: 0;
    }
}

.accolade-right {
    display: flex;
    align-items: center;
}